<header>
    <div id="pageHeader">
        <h1 id="pageTitle"><a>New News</a></h1>
        <nav id="pageMenu">
            <ul>
                <li class="menuItem"><a href="http://" class="selectedItem">Home</a></li>
                <li class="menuItem"><a href="http://">Menu</a></li>
                <li class="menuItem"><a href="http://">Menu 2</a></li>
                <li class="menuItem"><a href="http://">Lorem ipsum</a></li>
                <li class="menuItem"><a href="http://">Lorem Ipsum 2</a></li>
            </ul>
        </nav>
        <div id="pageTools">
            <h1 id="searchBoxTransmitter">
                <img loading="lazy" src="./assets/icons/search-solid.svg" alt="Search" width="30" height="30">
            </h1>
            <h1 id="menuTransmitter" class="hidden">
                <img loading="lazy" src="./assets/icons/bars-solid.svg" alt="Menu" width="30" height="30">
            </h1>
        </div>
    </div>
</header>