#archives {
    #articlesContainer {
        margin-top: 1.5em;
        #articlesTitle {
            font-size: 1.4em;
            color: map-get($generalColors, "secondary");
            span {
                font-size: 1.6rem;
                color: map-get($generalColors, "primary");
            }
        }
    }
}