// Body
#moreData {
    @include general(40%, auto);
    @include position(absolute, 5em, null, null, 0);
    @include flex(column, flex-end, flex-end);
}

// Items
.moreDataItem {
    // General
    width: 95%;
    max-height: 51em;
    @include flex(column, flex-start, center);
    margin-top: 2em;
    overflow-y: scroll;
    // Title
    .moreDataTitle {
        width: 100%;
        position: relative;
        @include font('open-sans', 1.3rem, normal, bolder, map-get($generalColors, "primary"));
        text-align: left;
        padding-bottom: 0.4em;
    }
    .moreDataTitle:before,
    .moreDataTitle:after {
        @include titleUnderLine;
    }
    .moreDataTitle:before {
        @include general(124px, 5px, map-get($generalColors, "primary"));
        z-index: 1;
    }
    #popularTitle:before {
        width: 83px;
    }
    .moreDataTitle:after {
        @include general(100%, 4px, $lineColor);
        z-index: 0;
    }
    // Posts
    .moreDataPost {
        // General
        @include general(90%, 15em);
        position: relative;
        margin-top: 1em;
        // Styles
        border-radius: map-get($borderRadiusSize, "level2");
        // Thumbnail
        img {
            @include general(100%, 100%);
            border-radius: map-get($borderRadiusSize, "level2");
        }
        // Post title
        .moreDataPostTitle {
            @include postDataContainer;
            @include font('open-sans', 1rem, normal, bolder);
            padding: 0.1em 0.5em;
            border-radius: 0 0 map-get($borderRadiusSize, "level2") map-get($borderRadiusSize, "level2");
            // Links
            @include changeDetailsLinkColor;
        }
    }
}