#searchBox {
    // General
    @include general(30%, auto, map-get($textColors, "primary"));
    @include position(fixed, 6em, 50%, null, null);
    transform: translateX(-50%);
    z-index: 5;
    // Border
    border: 2px solid map-get($generalColors, "secondary");
    border-radius: map-get($borderRadiusSize, "level2");
    // Children
    >* {
        float: left;
    }
    // Input
    #searchValue {
        // General
        width: 70%;
        // Border
        border: none;
        border-radius: map-get($borderRadiusSize, "level2") 0 0 map-get($borderRadiusSize, "level2");
        // Font
        @include font('overpass-bold', 1.3rem, normal, bold, map-get($generalColors, "primary"));
        padding: 0.2em 0.4em;
    }
    // Submit
    #submitSearch {
        @include general(15%, 100%, map-get($textColors, "primary"));
        border: none;
        cursor: pointer;
    }
    // Close button
    #closeSearchBox {
        // General
        @include general(15%, 35px, map-get($textColors, "primary"));
        // Border
        border: none;
        border-radius: 0 map-get($borderRadiusSize, "level2") map-get($borderRadiusSize, "level2") 0;
        // Font
        @include font('overpass-regular', 1.3rem, normal, 700, map-get($generalColors, "secondary"));
        // More
        cursor: pointer;
    }
}