@font-face {
    font-family: 'open-sans';
    src: url('./assets/fonts/OpenSans-Bold.ttf');
} // titles
@font-face {
    font-family: 'overpass-regular';
    src: url('./assets/fonts/Overpass-Regular.ttf');
} // details like menu
@font-face {
    font-family: 'overpass-bold';
    src: url('./assets/fonts/Overpass-Bold.ttf');
} // article titles