#pageFooter {
    // General
    @include general(100%, auto, map-get($generalColors, "secondary"));
    @include flex(column, flex-start, center);
    margin-top: 4em;
    // Styles
    border-radius: 20px 20px 0 0;

    * {
        text-align: center;
        color: map-get($textColors, "primary") !important;
    }

    // Links
    a:hover {
        color: $detailsColor !important;
    }
    // Page title
    #title {
        @include font('open-sans', 2.1em, italic, bolder);
    }
    // Page description
    #desc {
        @include font('open-sans', 1.3rem, italic, bolder);
        text-align: center
    }
    // Email
    #adminMail {
        // General
        @include centerElements(row);
        margin-top: 1em;
        // Styles
        @include font('open-sans', 1.1rem, normal, bold);
        img {
            margin-right: 0.4em;
        }
    }
    // Footer widget 
    #footerWidget ul {
        width: 100%;
        @include centerElements(row);
        margin-top: 1em;
        list-style: none;
        >* {
            margin: 0 1em;
        }
    }
    // Copyright
    #copyright {
        @include centerElements(row);
        margin: 1.5em 0 0.4em;
        @include font('open-sans', 1rem, normal, bolder);
        img {
            margin-right: 0.3em;
        }
    }
}