// Body
#pageHeader {
    min-height: 6%;
    @include general(100%, auto);
}

//Title
#pageTitle {
    width: auto;
    float: left;
    margin-right: 2em;
}

#pageTitle a {
    cursor: pointer;
    @include font('open-sans', 30px, normal, bolder, map-get($generalColors, "primary"));
}

// Menu
#pageMenu {
    display: inline;
    float: left;
    margin-top: 0.8em;
}

#pageMenu ul {
    @include flex(row, flex-start, center);
    list-style: none;
}

.menuItem {
    margin: 0 0.75em;
}

.menuItem a {
    @include font('overpass-regular', 20px, normal, normal, map-get($generalColors, "secondary"))
}

.selectedItem {
    color: map-get($generalColors, "primary") !important;
}