#loader {
    @include general(100%, 100%, map-get($textColors, "primary"));
    @include position(fixed);
    #loaderElement {
        // General
        @include general(60px, 20px);
        @include position(absolute, 50%, 50%, null, null);
        transform: translate(-50%, -50%);
        // Background
        background: radial-gradient(circle closest-side at left 6px top 50%, currentColor 90%, #0000), radial-gradient(circle closest-side, currentColor 90%, #0000), radial-gradient(circle closest-side at right 6px top 50%, currentColor 90%, #0000);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        // Animation
        animation: loader 1.2s infinite alternate;
    }
    @keyframes loader {
        to {
            width: 30px;
            height: 32px
        }
    }
    z-index: 10;
}