@mixin general($width, $height, $background: none) {
    width: $width;
    height: $height;
    background: $background;
}

@mixin position($type: relative, $top: 0, $left: 0, $bottom: 0, $right:0) {
    position: $type;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin flex($flow: column, $justify-content: center, $align-items: start) {
    display: -ms-flexbox;
    display: flex;
    flex-flow: $flow;
    -ms-flex-flow: $flow;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin grid($template-column, $template-row) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: $template-column;
    grid-template-rows: $template-row;
}

@mixin font($family, $size, $style: normal, $weight: normal, $color: map-get($textColors, "primary")) {
    font: $style $weight $size $family;
    color: $color;
}

@mixin postDataContainer($min-height: 20%) {
    width: 100%;
    min-height: $min-height;
    max-height: 100%;
    background: $articleTitleBg;
    backdrop-filter: blur(10px);
    webkit-backdrop-filter: blur(10px);
    @include position(absolute, unset);
}

@mixin postMoreData($padding: 0.3em 1.75em, $justify-content: space-between) {
    @include flex(row, $justify-content, center);
    @include font('overpass-bold', 1rem, normal, bold);
    padding: $padding;
    // Detail items
    .postMoreDataItem {
        @include centerElements(row);
        img {
            margin-bottom: 0.3em;
        }
        span {
            margin-left: 0.3em;
            color: $detailsColor;
        }
    }
}

@mixin titleUnderLine {
    @include position(absolute, unset);
    content: '';
    border-radius: map-get($borderRadiusSize, "level3");
}

@mixin changeDetailsLinkColor {
    a:hover {
        color: $detailsColor;
    }
}

@mixin centerElements($direction) {
    @include flex($direction, center, center)
}