// Body
#slider {
    @include general(100%, 93%);
    @include flex(row, center, center);
}

// Left
#leftSlider {
    @include general(60%, 100%);
    @include grid(repeat(2, 1fr), 3fr 1fr);
    // Big slider item
    .sliderItem:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/2;
        // Img
        .sliderItemImg {
            height: 432px;
        }
        // Title
        .sliderItemTitle {
            min-height: 10%;
            font-size: 1.3rem;
        }
    }
    // Little slider 1
    .sliderItem:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 1rem;
    }
    // Little slider 2
    .sliderItem:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    // Images
    .sliderItemImg {
        @include general(100%, 141px);
    }
    // Title
    .sliderItemTitle {
        font-size: 1rem
    }
}

// Right
#rightSlider {
    @include general(40%, 100%);
    @include flex(column, flex-start, center);
    // Item
    .sliderItem {
        @include general(100%, 50%)
    }
    // Images
    .sliderItemImg {
        @include general(100%, 286px);
    }
}

// Items
.sliderItem {
    position: relative;
    // Border styles
    border: 2px solid map-get($textColors, "primary");
    // Title
    .sliderItemTitle {
        @include postDataContainer;
        // Position
        @include position(absolute, unset, 0, 0);
        // Background styles
        background: $articleTitleBg;
        backdrop-filter: blur(4px);
        // Font
        @include font('overpass-bold', 1.3rem, normal, normal);
        // Padding
        padding-left: 0.1em;
        // Links
        @include changeDetailsLinkColor;
    }
}