// Body
#slider {
    @include general(100%, 100%);
    @include centerElements(row);
}

// Left
#leftSlider {
    @include general(50%, 100%);
    // Big slider item
    .sliderItem:nth-child(1) {
        @include general(100%, 64%);
        // Title
        .sliderItemTitle {
            min-height: 10%;
            font-size: 1.3rem;
        }
    }
    // Little slider 1
    .sliderItem:nth-child(2) {
        @include general(50%, 36%);
        float: left;
        font-size: 1rem;
    }
    // Little slider 2
    .sliderItem:nth-child(3) {
        @include general(50%, 36%);
        float: left;
    }
    // Images
    .sliderItemImg {
        @include general(100%, 100%);
    }
    // Title
    .sliderItemTitle {
        font-size: 1rem
    }
}

// Right
#rightSlider {
    @include general(50%, 100%);
    @include flex(column, flex-start, center);
    // Item
    .sliderItem {
        @include general(100%, 50%)
    }
    // Images
    .sliderItemImg {
        @include general(100%, 100%);
    }
}

// Items
.sliderItem {
    position: relative;
    // Border styles
    border: 2px solid map-get($textColors, "primary");
    // Title
    .sliderItemTitle {
        @include postDataContainer;
        // Position
        @include position(absolute, unset, 0, 0);
        // Background styles
        background: $articleTitleBg;
        backdrop-filter: blur(4px);
        // Font
        @include font('overpass-bold', 1.3rem, normal, normal);
        // Padding
        padding-left: 0.1em;
        // Links
        @include changeDetailsLinkColor;
    }
}