// colors
$generalColors: ("primary": #174E81, "secondary": #3A3A3A);
$textColors: ("primary": #fff, "secondary": #000);
$articleTitleBg: #00000080;
$detailsColor: #1D92FF;
$borderColor: #d1d1d1;
$shadowColor: #00000040;
// border radius sizes
$borderRadiusSize: ("level1": 10px, "level2": 20px);