// Files
@import "./variables";
@import "./fonts";
@import "./mixins";
@import "./header";
@import "./slider";
@import "./recent";
@import "./more_data";
@import "./tools";
@import "./footer";
@import "./dark_mode";
@import "./responsive";
// Basic styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 2.5%;
}

// Links
a {
    text-decoration: none;
    color: map-get($textColors, "primary");
    transition-duration: 0.3s;
}

a:hover {
    color: map-get($generalColors, "primary");
}

// Articles
#articlesContainer {
    width: 95%;
    @include flex(row, flex-start, flex-start);
    position: relative;
    margin: auto;
}