@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'overpass-regular';
  src: url("../fonts/Overpass-Regular.ttf"); }

@font-face {
  font-family: 'overpass-bold';
  src: url("../fonts/Overpass-Bold.ttf"); }

#pageHeader {
  min-height: 6%;
  width: 100%;
  height: auto;
  background: none; }

#pageTitle {
  width: auto;
  float: left;
  margin-right: 2em; }

#pageTitle a {
  cursor: pointer;
  font: normal bolder 30px "open-sans";
  color: #174E81; }

#pageMenu {
  display: inline;
  float: left;
  margin-top: 0.8em; }

#pageMenu ul {
  display: flex;
  display: -ms-flexbox;
  flex-flow: row;
  -ms-flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none; }

.menuItem {
  margin: 0 0.75em; }

.menuItem a {
  font: normal normal 20px "overpass-regular";
  color: #3A3A3A; }

.selectedItem {
  color: #174E81 !important; }

#slider {
  width: 100%;
  height: 93%;
  background: none;
  display: flex;
  display: -ms-flexbox;
  flex-flow: row;
  -ms-flex-flow: row;
  justify-content: center;
  align-items: center; }

#leftSlider {
  width: 60%;
  height: 100%;
  background: none;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr; }
  #leftSlider .sliderItem:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2; }
    #leftSlider .sliderItem:nth-child(1) .sliderItemImg {
      height: 432px; }
  #leftSlider #leftSlider .sliderItem:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3; }
  #leftSlider #leftSlider .sliderItem:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3; }
  #leftSlider .sliderItemImg {
    width: 100%;
    height: 141px;
    background: none; }

#rightSlider {
  width: 40%;
  height: 100%;
  background: none;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: flex-start;
  align-items: center; }
  #rightSlider .sliderItem {
    width: 100%;
    height: 50%;
    background: none; }
  #rightSlider .sliderItemImg {
    width: 100%;
    height: 286px;
    background: none; }

.sliderItem {
  position: relative;
  border: 2px solid #fff; }
  .sliderItem .sliderItemTitle {
    width: 100%;
    min-height: 15%;
    max-height: 100%;
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000080;
    backdrop-filter: blur(4px);
    font: normal normal 1.3rem "overpass-bold";
    color: #fff;
    padding-left: 0.1em; }
    .sliderItem .sliderItemTitle a:hover {
      color: #1D92FF; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0 2.5%; }

a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.3s; }

a:hover {
  color: #174E81; }
