@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'overpass-regular';
  src: url("../fonts/Overpass-Regular.ttf"); }

@font-face {
  font-family: 'overpass-bold';
  src: url("../fonts/Overpass-Bold.ttf"); }

#pageHeader {
  min-height: 6%;
  width: 100%;
  height: auto;
  background: none; }

#pageTitle {
  width: auto;
  float: left;
  margin-right: 2em; }

#pageTitle a {
  cursor: pointer;
  font: normal bolder 30px "open-sans";
  color: #174E81; }

#pageMenu {
  display: inline;
  float: left;
  margin-top: 0.8em; }

#pageMenu ul {
  display: flex;
  display: -ms-flexbox;
  flex-flow: row;
  -ms-flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none; }

.menuItem {
  margin: 0 0.75em; }

.menuItem a {
  font: normal normal 20px "overpass-regular";
  color: #3A3A3A; }

.selectedItem {
  color: #174E81 !important; }

#slider {
  width: 100%;
  height: 93%;
  background: none;
  display: flex;
  display: -ms-flexbox;
  flex-flow: row;
  -ms-flex-flow: row;
  justify-content: center;
  align-items: center; }

#leftSlider {
  width: 60%;
  height: 100%;
  background: none;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr; }
  #leftSlider .sliderItem:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2; }
    #leftSlider .sliderItem:nth-child(1) .sliderItemImg {
      height: 432px; }
    #leftSlider .sliderItem:nth-child(1) .sliderItemTitle {
      min-height: 10%;
      font-size: 1.3rem; }
  #leftSlider .sliderItem:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1rem; }
  #leftSlider .sliderItem:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3; }
  #leftSlider .sliderItemImg {
    width: 100%;
    height: 141px;
    background: none; }
  #leftSlider .sliderItemTitle {
    font-size: 1rem; }

#rightSlider {
  width: 40%;
  height: 100%;
  background: none;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: flex-start;
  align-items: center; }
  #rightSlider .sliderItem {
    width: 100%;
    height: 50%;
    background: none; }
  #rightSlider .sliderItemImg {
    width: 100%;
    height: 286px;
    background: none; }

.sliderItem {
  position: relative;
  border: 2px solid #fff; }
  .sliderItem .sliderItemTitle {
    width: 100%;
    min-height: 20%;
    max-height: 100%;
    background: #00000080;
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000080;
    backdrop-filter: blur(4px);
    font: normal normal 1.3rem "overpass-bold";
    color: #fff;
    padding-left: 0.1em; }
    .sliderItem .sliderItemTitle a:hover {
      color: #1D92FF; }

#recentNews {
  width: 60%;
  height: auto;
  background: none;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0; }

#recentArticlesTitle {
  width: 100%;
  position: relative;
  font: normal bolder 1.9rem "open-sans";
  color: #174E81;
  text-align: left;
  padding-bottom: .3em; }

#recentArticlesTitle:before,
#recentArticlesTitle:after {
  position: absolute;
  top: unset;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  border-radius: 30px; }

#recentArticlesTitle:before {
  width: 115px;
  height: 5px;
  background: #174E81;
  z-index: 1; }

#recentArticlesTitle:after {
  width: 100%;
  height: 4px;
  background: #ababab;
  z-index: 0; }

.post {
  width: 80%;
  height: 21em;
  background: none;
  position: relative;
  margin-top: 1.5em;
  border-radius: 10px; }
  .post .postThumbnail {
    width: 100%;
    height: 336px;
    background: none;
    border-radius: inherit; }
  .post .postData {
    width: 100%;
    min-height: 20%;
    max-height: 100%;
    background: #00000080;
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    display: -ms-flexbox;
    flex-flow: column;
    -ms-flex-flow: column;
    justify-content: space-between;
    align-items: space-between;
    border-radius: inherit; }
    .post .postData .postTitle {
      font: normal bolder 1.2rem "open-sans";
      color: #fff;
      padding: 0 0.5em; }
      .post .postData .postTitle a:hover {
        color: #1D92FF; }
    .post .postData .postDetails {
      display: flex;
      display: -ms-flexbox;
      flex-flow: row;
      -ms-flex-flow: row;
      justify-content: space-between;
      align-items: center;
      font: normal bold 1rem "overpass-bold";
      color: #fff;
      padding: 0.3em 1.75em; }
      .post .postData .postDetails .postDetail {
        display: flex;
        display: -ms-flexbox;
        flex-flow: row;
        -ms-flex-flow: row;
        justify-content: center;
        align-items: center; }
        .post .postData .postDetails .postDetail img {
          margin-bottom: 0.3em; }
        .post .postData .postDetails .postDetail span {
          margin-left: 0.3em;
          color: #1D92FF; }

#pageCounter {
  width: 100%;
  height: auto;
  background: none;
  display: flex;
  display: -ms-flexbox;
  flex-flow: row;
  -ms-flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  list-style: none; }
  #pageCounter li {
    margin: 0 0.3em;
    border-radius: 10px;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.3), 0px 3px 4px rgba(0, 0, 0, 0.25);
    font: normal bold 1.5rem "overpass-bold";
    color: #000;
    padding: 0.3em 0.4em 0.1em;
    cursor: pointer; }
    #pageCounter li a {
      color: #000; }
    #pageCounter li a:hover {
      color: #1D92FF; }
  #pageCounter li.selectedPage {
    background: #174E81;
    box-shadow: none;
    color: #fff; }
    #pageCounter li.selectedPage a {
      color: #fff; }

#moreData {
  width: 40%;
  height: auto;
  background: none;
  position: absolute;
  top: 5em;
  right: 0;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end; }

.moreDataItem {
  width: 95%;
  max-height: 51em;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
  overflow-y: scroll; }
  .moreDataItem .moreDataTitle {
    width: 100%;
    position: relative;
    font: normal bolder 1.3rem "open-sans";
    color: #174E81;
    text-align: left;
    padding-bottom: 0.4em; }
  .moreDataItem .moreDataTitle:before,
  .moreDataItem .moreDataTitle:after {
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    border-radius: 30px; }
  .moreDataItem .moreDataTitle:before {
    width: 124px;
    height: 5px;
    background: #174E81;
    z-index: 1; }
  .moreDataItem #popularTitle:before {
    width: 83px; }
  .moreDataItem .moreDataTitle:after {
    width: 100%;
    height: 4px;
    background: #ababab;
    z-index: 0; }
  .moreDataItem .moreDataPost {
    width: 90%;
    height: 15em;
    background: none;
    position: relative;
    margin-top: 1em;
    border-radius: 20px; }
    .moreDataItem .moreDataPost img {
      width: 100%;
      height: 240px;
      background: none;
      border-radius: 20px; }
    .moreDataItem .moreDataPost .moreDataPostTitle {
      width: 100%;
      min-height: 20%;
      max-height: 100%;
      background: #00000080;
      position: absolute;
      top: unset;
      left: 0;
      bottom: 0;
      right: 0;
      font: normal bolder 1rem "open-sans";
      color: #fff;
      padding: 0.1em 0.5em;
      border-radius: 0 0 20px 20px; }
      .moreDataItem .moreDataPost .moreDataPostTitle a:hover {
        color: #1D92FF; }

#widgets {
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3em; }

.widget {
  width: 40.5%;
  margin-right: 1em;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: center;
  align-items: center; }
  .widget > * {
    width: 100%; }
  .widget .widgetTitle {
    position: relative;
    font: normal bolder 1.3rem "open-sans";
    color: #174E81;
    padding-bottom: 0.3em; }
    .widget .widgetTitle :before,
    .widget .widgetTitle :after {
      position: absolute;
      top: unset;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      border-radius: 30px;
      height: 4px; }
    .widget .widgetTitle :before {
      width: 100px;
      background: #174E81;
      z-index: 1; }
    .widget .widgetTitle :after {
      width: 100%;
      background: #ababab;
      z-index: 0; }
  .widget .widgetItem {
    margin-top: 0.5em;
    font: normal bold 1.3rem "overpass-bold";
    color: #3A3A3A; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0 2.5%; }

a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.3s; }

a:hover {
  color: #174E81; }

#articlesContainer {
  width: 95%;
  display: flex;
  display: -ms-flexbox;
  flex-flow: row;
  -ms-flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: auto; }
